:root {
    --nav-links-font-family: "Barlow", Helvetica;
    --nav-links-font-weight: 600;
    --nav-links-font-size: 18px;
    --nav-links-letter-spacing: 0px;
    --nav-links-line-height: normal;
    --nav-links-font-style: normal;
  }
  